div.ui.cards.request-cards {
  justify-content: center;
}

div.ui.card.request-card {
  width: 400px;
}

.light-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}