.user-form{
  padding-top:5em !important;
  align-items: center;
}

.column {
  max-width: 450px; 
}

.ui.stacked.segment:after {
  border-top: none !important;
}

.light-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
/* PROFILE PAGE */

.profile-wrapper {
  display: flex;
  margin-top: 5em;
  min-height: 600px;
}

.user-info-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  min-width:300px;
}
span.profile-username{
  font-weight:900;
  font-size:2em;
  margin-top:0.5em;
}

span.profile-location{
  margin-top:1em;
}
.avatar{
  margin:1em;
    width: 10em;
    height: 10em;
    object-fit:cover;
    border-radius: 500rem;
    border: 1px solid rgb(204, 202, 202);
}

.button-container {
  align-self: flex-end;
  margin-left:10em;
}
.profile-items-container{
  margin-top:4em;
  min-width:600px;
}
