#pic-button-container {
  width: fit-content;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#file-ip-1-preview {
  display: none;
  margin: 0 auto;
}