.user-form{
  padding-top:5em !important;
  align-items: center;
}

.column {
  max-width: 450px; 
}

.ui.stacked.segment:after {
  border-top: none !important;
}

.light-separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
/* PROFILE PAGE */


.profile::before{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 99%,
              rgba(255,255,255,1)), url('../images/green.jpeg');
  position:absolute;
  width:100%;
  height:280px;
  z-index:-10;
  top: 0;
  left: 0;
  object-fit:cover;
  content:"";
  filter: hue-rotate(126deg);
}

.profile-meta {
  display:flex;
  align-items:center;
  margin-top:12em;
}

.avatar-container{
  margin-right:4em;
}

.user-details{
  display:flex;
  flex-direction:column;
  margin-top:10em;

}
span.profile-username{
  font-weight:900;
  font-size:2.2em;
  padding:0px;
  margin-bottom: 0.5em;
}

span.profile-location{
  margin-bottom: 0.9em;
}

span.profile-date{
  color:rgb(100, 100, 100);
}
.avatar{
  margin:1em;
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 500rem;
    border: 5px solid rgb(255, 255, 255);
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.button-container {
  align-self: flex-end;
  margin-left:10em;
}
.profile-items-container::before{
  background:rgb(245 244 244 / 49%);
  width:100%;
  height:100%;
  position:absolute;
  content: "";
  left:0;
  z-index:-10;
}
.profile-items-container{
  margin-top:4em;
  min-width:600px;
}

.profile-items-header{
  display:flex;
  justify-content:space-between
}

.btn-container{
  align-items: center;
  display:flex;
}

.btn-container > .ui.button{
  margin-left:1em;
}

h3.items-heading{
  font-size:1.8em;
  font-weight:800;
  padding:1em 0em;
}