.user-form{
  padding-top:5em !important;
  align-items: center;
}

.column {
  max-width: 450px; 
}

.ui.stacked.segment:after {
  border-top: none !important;
}

.profile-avatar{
  display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 500rem;
}