.main-item-list {
  margin-top: 1rem !important;
} 

#item-list-empty-search-error {
  display: none;
}

#item-list-no-search-results {
  display: none;
}

#search-bar {
  position: relative;
  top: 1rem;
  margin-top: 5rem !important;
}
